.minititle{
  z-index: 2;
  text-align: center;
  font-size: 30px;
  position: fixed;
  background-color: white;
  bottom: 0;
  right: 0;
}

.waterlevel_title{
  font-size: 25px;
  text-align: center;
}
.waterlevel_picture{
  text-align: center;
}
#mapcontainer{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*詳細確認ボタンの設定*/
button.detail_button{
  width: 420px;
  height: 70px;
  font-size: 25px;
  
  margin: 20px 30px 20px 100px;

  text-align: center;
}

.gazo{
  width :625px;
  height :365px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.popup_title{
  text-align: center;
  font-size: 28px;

}

.leaflet-popup-tip{
  display: none;
}